In [1]:
import pandas as pd 
import numpy as np 

# sklearn tools to Train and Test 
import sklearn
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
from sklearn.tree import DecisionTreeClassifier
from sklearn import linear_model


columns=['age','sex','cp','trestbps','chol','fbs','restecg',
         'thalach','exang','oldpeak','slope','ca','thal','num']




df=pd.read_csv("processed.cleveland.data",header=None,names=columns)

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    float64
 1   sex       303 non-null    float64
 2   cp        303 non-null    float64
 3   trestbps  303 non-null    float64
 4   chol      303 non-null    float64
 5   fbs       303 non-null    float64
 6   restecg   303 non-null    float64
 7   thalach   303 non-null    float64
 8   exang     303 non-null    float64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    float64
 11  ca        303 non-null    object
 12  thal      303 non-null    object
 13  num       303 non-null    int64
dtypes: float64(11), int64(1), object(2)
memory usage: 33.3+ KB

In [3]:

# counter of mising values finder 
ca=0
thal=0
for i in df.values :
    if i[11]=='?':
        ca+=1
    if i[12]=='?':
        thal+=1
print(ca,thal)

4 2

In [4]:
#removing missing value 
#Tip =#coverting features values to float duto much of floating values
df.replace("?",pd.NA,inplace=True)
df.dropna(inplace=True)
df=df.apply(pd.to_numeric,errors='coerce')
df=df.astype(float) 
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 297 entries, 0 to 301
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       297 non-null    float64
 1   sex       297 non-null    float64
 2   cp        297 non-null    float64
 3   trestbps  297 non-null    float64
 4   chol      297 non-null    float64
 5   fbs       297 non-null    float64
 6   restecg   297 non-null    float64
 7   thalach   297 non-null    float64
 8   exang     297 non-null    float64
 9   oldpeak   297 non-null    float64
 10  slope     297 non-null    float64
 11  ca        297 non-null    float64
 12  thal      297 non-null    float64
 13  num       297 non-null    float64
dtypes: float64(14)
memory usage: 34.8 KB

In [5]:
target='num'
X=df.drop(target,axis=1)
Y=df[target]
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=0.2,random_state=123)

In [6]:

model=DecisionTreeClassifier(criterion='entropy',max_depth=4 , random_state=123)
model=model.fit(x_train,y_train)
score=model.score(x_test,y_test)
print(score)

0.65

In [7]:
import joblib
file_name='ds.sav'
joblib.dump(model,file_name)

['ds.sav']