In [1]:
import pandas as pd 
import numpy as np
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt
from sklearn import linear_model



df = pd.read_csv("USDT-USD.csv",sep=",")
df.head(1)

         Date     Open     High       Low    Close  Adj Close       Volume
0  2017-11-09  1.01087  1.01327  0.996515  1.00818    1.00818  358188000.0

In [2]:
#we seprate Data col to three seprated col year month day 
df['year']=[int (i.split('-')[0]) for i in df['Date'].values ]
df['month']=[int (i.split('-')[1]) for i in df['Date'].values ]
df['day']=[int (i.split('-')[2]) for i in df['Date'].values ]

In [3]:
df.head(1)

,Date,Open,High,Low,Close,Adj Close,Volume,year,month,day
0,2017-11-09,1.01087,1.01327,0.996515,1.00818,1.00818,358188000.0,2017,11,9

In [4]:
c1=df['year'].to_list()
c2=df['month'].to_list()
c3=df['day'].to_list()
c4=df['Close'].to_list()
df=list(zip(c1,c2,c3,c4))
# df is not seenable

In [5]:
time_window=30

In [6]:
X=[]
Y=[]
for i in range ( 0 , len(df)-time_window):
    X.append(np.reshape([df [j] for j in range (i,i+time_window)], -1).tolist())
    Y.append(df[i+time_window][-1])

In [ ]:

x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.1)
# model = LinearRegression()
# model.fit(x_train,y_train)

model = linear_model.LinearRegression()
model.fit(x_train,y_train)
score=model.score(x_test,y_test)

# show acc
print(score)

In [ ]:
predictiond=model.predict(x_test)

In [ ]:
plt.figure(figsize=(10,5))
plt.plot(predictions,label="pred")
plt.plot(y_test,label="Real")
plt.grid()
plt.legend()
plt.show

model.score(x_test,y_test)